/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */

/* Styles for every page */

body {
  font-family: "Inter", "Open Sans", sans-serif;
  background-color: #ffffff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  min-height: 80px;
  max-width: 1280px;
  margin: 10px auto;
}

header img {
  height: 70px;
  width: 189px;
}

@media (max-width: 430px) {
}

.header-logo {
  margin-right: 40px;
}

nav li {
  display: inline-block;
}

a {
  text-decoration: none;
}

header a {
  color: #0a3641;
  padding: 15px 40px;
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

footer {
  background-color: #f5f5f5;
  color: #000;
}

footer a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.ft-title {
  color: #000;
  font-family: "Inter", "Open Sans", sans-serif;
  font-size: 14px;
  padding-bottom: 0.1rem;
}

.ft-main {
  padding: 1.5rem 14rem;
  display: flex;
  flex-wrap: wrap;
}

.ft-main-item {
  max-width: 1280px;
  padding: 1.25rem;
  min-width: 200px;
}

@media (max-width: 430px) {
  .ft-main {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
  }
}

form {
  display: flex;
  flex-wrap: wrap;
}

input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}

input[type="submit"] {
  background-color: #0a3641;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}

/* HOME PAGE */

/* Hero */

.hero {
  display: block;
  background-color: #0a3641;
  background-image: url(/images/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 0;
  background-position-x: right;
  background-position-y: bottom;
  min-height: 70vh;
  position: relative;
}

.hero-content {
  position: absolute;
  color: #ffffff;
  top: 300px;
  left: 40px;
}

.hero h1 {
  font-size: 40px;
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 80px;
}

.hero article {
  font-size: 20px;
  font-weight: 500;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #0a3641;
  width: 40%;
  margin-left: 80px;
  padding-bottom: 30px;
}

.explore-button {
  width: 280px;
  height: 49px;
  font-family: "Inter", "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  background-color: #45b086;
  color: #ffffff;
  padding: 10px 40px;
  letter-spacing: -1.2px;
  border: 1px solid #000;
  border-radius: 36px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  outline: none;
  margin-left: 80px;
  cursor: pointer;
  transition: all 0.6s ease;
}

.explore-button:hover {
  background-color: #ffffff;
  color: #45b086;
}

/* Shop Cards */

.shop-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1280px;
  margin: 50px auto;
  place-items: center;
  gap: 30px;
}

.shop-container img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 700px) {
  .shop-container {
    grid-template-columns: 1fr;
  }
}

/* Discount banner */

.discount-banner {
  background-color: rgba(217, 217, 217, 0.23);
}

.discount-value {
  font-size: 80px;
  padding-left: 10px;
  padding-right: 10px;
}

.discount-text {
  font-size: 28px;
  text-align: left;
}

.discount-information {
  display: flex;
  color: #0a3641;
  align-items: center;
  max-width: 1280px;
  margin: 50px auto;
  padding: 0 60px;
}

/* Featured products */ /*!Add buttons to carousel!*/

.featured h2 {
  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  color: #0a3641;
  font-size: 36px;
  font-family: "Inter", "Open Sans", sans-serif;
  padding-left: 80px;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1280px;
  margin: auto;
  font-family: "Inter", "Open Sans", sans-serif;
}

.carousel h3 {
  color: #2b2b2b;
  font-weight: 700;
  font-size: 24px;
  margin: 10px 5px;
}

.carousel p {
  color: #2b2b2b;
  font-weight: 500;
  font-size: 24px;
  margin: 5px;
}

.carousel img {
  width: 100%;
}

.carousel-products {
  display: grid;
  justify-content: center;
}

.shop-button {
  width: 100px;
  padding: 8px 30px;
  font-size: 0.8em;
  color: #ffffff;
  background-color: #0a3641;
  border-radius: 10px;
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: 500;
}

/* Slogan */ /* !Move Minilogo to the left, not centered! */

.slogan {
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  max-width: 955px;
  text-align: center;
}

.slogan strong {
  color: rgba(0, 0, 0, 0.49);
  font-size: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slogan h3 {
  color: #0a3641;
  font-size: 40px;
  font-family: "Inter", "Open Sans", sans-serif;
  font-style: italic;
  letter-spacing: -2px;
  font-weight: normal;
  font-weight: 300;
}

/* Footer */ /*How do i center the items inside the footer?*/

ul {
  list-style: none;
  padding-left: 0;
}

/* CHECKOUT SUCCESS PAGE */

.order-confirmed {
  max-width: 1280px;
  margin: 30px auto;
  font-family: "Inter", "Open Sans", sans-serif;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.order-confirmed img {
  max-width: 100%;
  height: auto;
}

.order-confirmed h1 {
  color: #0a3641;
  font-size: 36px;
  font-weight: 600;
}

.order-confirmed p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.order-confirmed article {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin: 40px 0;
  max-width: 700px;
}

.order-confirmed button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  background-color: #0a3641;
  border-radius: 38px;
  width: 390px;
  height: 50px;
}

@media (max-width: 430px) {
  .order-confirmed h1 {
    font-size: 20px;
    padding: 0;
  }
}

@media (max-width: 430px) {
  .order-confirmed article {
    font-size: 14px;
    padding: 0 30px;
  }
}

@media (max-width: 430px) {
  .order-confirmed button {
    font-size: 14px;
  }
}

/* Man/Women Page */

.jackets {
  max-width: 1280px;
  margin: 30px auto;
  font-family: "Inter", "Open Sans", sans-serif;
}

.jackets h1 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -1.8px;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
}

.jackets h2 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  color: rgba(0, 0, 0, 0.788);
  margin: 10px auto;
}

.jackets p {
  font-weight: 500;
  margin-top: 5px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 100px;
}

.products img {
  width: 100%;
}

.products {
  margin: 50px 0;
}

/*  Product Specific Page */

.header-info {
  max-width: 1280px;
  margin: 8px auto;
  padding-bottom: 40px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
}

.hr-header {
  width: 1280px;
  height: 0px;
  margin: 0 auto;
  background-color: #0a3641;
}

.hr-product {
  width: 625px;
  height: 0px;
  margin: 0px auto;
  background-color: #0a3641;
}

.product-specific {
  display: flex;
  max-width: 1280px;
  padding-bottom: 100px;
  font-family: "Inter", "Open Sans", sans-serif;
  margin: 0px auto;
}

.product-specific h1 {
  font-size: 36px;
  letter-spacing: -1.8px;
  font-weight: 600;
  margin: 5px 0;
  color: rgba(0, 0, 0, 0.87);
}

.product-specific p {
  font-size: 24px;
  letter-spacing: -1.2px;
  margin: 5px 0;
}

.product-specific article {
  font-size: 16px;
  letter-spacing: -0.8px;
  padding: 50px 0px;
}

.product-specific__content {
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
}

strong {
  margin: 2px 0;
}

.in-stock {
  color: #005924;
}

.product-specific__buttons {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.button-select {
  width: 235px;
  height: 48px;
  border-radius: 25px;
  border: 1 px solid #000;
  background-color: #ffffff;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  font-family: "Inter", "Open Sans", sans-serif;
  margin: 5px 0;
}

.button-add {
  width: 235px;
  height: 48px;
  border-radius: 25px;
  background-color: #0a3641;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  font-family: "Inter", "Open Sans", sans-serif;
  margin: 5px 0;
}

/* About Us page*/

.about-content {
  max-width: 1280px;
  margin: 80px auto;
  padding-bottom: 100px;
  font-family: "Inter", "Open Sans", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}

.about-content img {
  width: 100%;
}

.about-content h2 {
  color: rgba(0, 0, 0, 0.87);
}

.about-heading {
  max-width: 1280px;
  margin: 30px auto;
  color: #2b2b2b;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
}

/* Checkout page*/

.checkout-page {
  max-width: 1280px;
  margin: 30px auto;
  font-family: "Inter", "Open Sans", sans-serif;
}

.checkout-page h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
}

.checkout-page legend {
  font-size: 24px;
  font-weight: 700;
  color: #000000dc;
  padding: 16px 0;
}

input,
select,
textarea {
  border: 1px solid #00000055;
  border-radius: 8px;
  height: 35px;
  margin: 10px 10px 10px 0px;
}

.order-review {
  width: 1280px;
  margin: 30px auto;
}

.order-review__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  font-size: 16px;
}

.product-text {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product-text img {
  padding-left: 100px;
  margin: 0px 20px;
  margin-bottom: 30px;
}

.jacket-info {
  display: flex;
  flex-direction: column;
}

.subtotal {
  display: flex;
  justify-content: end;
  padding-right: 100px;
  padding-top: 5px;
}

fieldset {
  border-radius: 8px;
}

.payment-content {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 12px;
  padding-left: 79px;
  padding-right: 79px;
}

.order-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-top: 25px;
  padding-bottom: 92px;
  padding-left: 79px;
  padding-right: 79px;
}

.shipping-content {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 50px;
  padding-left: 79px;
  padding-right: 79px;
}

.form-wrapper {
  width: 1280px;
  display: flex;
  margin: 30px auto;
  gap: 30px;
}

.form-wrapper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.payment button {
  margin-top: 20px;
  margin-left: 390px;
  background-color: #0a3641;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  width: 235px;
  height: 48px;
  border-radius: 25px;
}

.card-fields {
  display: flex;
}

/* Contact page */

.contact-content {
  max-width: 1280px;
  margin: 30px auto;
  font-family: "Inter", "Open Sans", sans-serif;
  text-align: center;
}

.contact-page h1 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.72px;
  color: rgba(0, 0, 0, 0.87);
}

.contact-page article {
  font-size: 18px;
  letter-spacing: 0.36px;
  font-weight: 400;
}

.contact-page p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.contact-page h3 {
  font-weight: 600;
}

.contact-information__text {
  margin: 30px 0;
  font-size: 18px;
}

.contact-address a {
  line-height: 46px;
  color: #064e41dc;
  font-weight: 700;
}

.contact-socials a {
  line-height: 46px;
  color: #064e41dc;
  font-weight: 700;
}

.contact-top {
  text-align: center;
  margin: 70px 0;
  border-radius: 0px;
}

.contact-bottom {
  text-align: left;
  margin-bottom: 150px;
  border-radius: 0px;
}

.contact-information {
  margin: 50px 0;
}

.contact-information > * {
  margin: 30px 0;
}

.contact-form {
  margin: 50px 125px;
  display: grid;
}

.contact-form form {
  max-width: 1000px;
  margin: auto;
}

.contact-form > * {
  margin: 10px 0;
  font-size: 18px;
}

.contact-formwrapper {
  display: flex;
  width: 1000px;
  gap: 120px;
  margin-top: 20px;
  font-size: 16px;
}

.contact-formwrapper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-formwrapper ::placeholder {
  font-size: 16px;
  padding-left: 8px;
}
.submit-button {
  width: 235px;
  height: 48px;
  text-align: center;
  border-radius: 25px;
  font-size: 24px;
  font-weight: 700;
}
